* {
    box-sizing: border-box;
  }

body{
    margin:0;
    background-color: var(--primary-color);
}

header{
    display: flex;
    height: 100vh;
    padding: 28.271px 37.695px;
    flex-direction: column;
    align-self: stretch;
}
.wrapper{
    display: flex;
    padding: 17.905px 16.963px;
    flex-direction: column;
    gap: 28px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 43.35px;
    border: 6.597px solid var(--detail-color);
    background: var(--accent-color);
}
.hero{
    display: flex;
    flex: 1;
    padding: 0 29px;
    justify-content: center;
    align-items: center;
    gap: 52px;
    align-self: stretch;
    transform: translateY(-40px);
}

.miffy-and-me{
    width: 446.965px;
    height: 421.231px;
    aspect-ratio: 139/131;
}

.hero-text{
    display: flex;
    padding: 27.635px 39.149px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11.514px;
}

.greeting,
.name,
.title {
  margin: 0;
}

.greeting{
    align-self: stretch;
    color: var(--detail-color);
    text-align: center;
    font-family: Sora;
    font-size: 27.635px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.name{
    width: 584.931px;
    color: var(--detail-color);
    text-align: center;
    font-family: Sora;
    font-size: 73.692px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.title{
    color: var(--detail-color);
    text-align: center;
    font-family: Sora;
    font-size: 46.058px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-btns{
    display: flex;
    padding: 16.12px 14.969px;
    justify-content: center;
    align-items: center;
    gap: 24.18px;
}

.resume-btn,
.contact-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 216.47px;
    height: 73.692px;
    border-radius: 57.572px;
    background: var(--sub-color);
    box-shadow: 10.363px 12.666px 0 0 var(--detail-color);
    color: var(--detail-color);
    text-align: center;
    font-family: Sora;
    font-size: 27.635px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}



.social-btns{
    display: flex;
padding: 12.666px 19.574px;
justify-content: center;
align-items: center;
gap: 25.332px;
}

.linkedin-btn{
    width: 55.269px;
height: 55.269px;
}