header{
    display: flex;
    min-height: 100vh;
    padding: 28.271px 37.695px;
    flex-direction: column;
    align-self: stretch;
}
.wrapper{
    display: flex;
    padding: 17.905px 16.963px;
    flex-direction: column;
    gap: 28px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 43.35px;
    border: 6.597px solid var(--detail-color);
    background: var(--accent-color);
    max-width: 1400px;
    margin: 0 auto;
}
.hero{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 29px;
    justify-content: center;
    align-items: center;
    gap: clamp(24px, 5vw, 52px);
    align-self: stretch;
}

.miffy-and-me{
    width: 100%;
    max-width: 450px;
    aspect-ratio: 139/131;
}

.miffy-and-me img{
    width: 100%;
    height: auto;
}

.hero-text{
    max-width: 600px;
    display: flex;
    padding: 27.635px 39.149px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11.514px;
}

.greeting,
.name,
.title {
  margin: 0;
}

.greeting{
    align-self: stretch;
    color: var(--detail-color);
    text-align: center;
    font-family: Sora;
    font-size: clamp(16px, 2vw, 28px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.name{
    max-width: 584px;
    width: 100%;
    color: var(--detail-color);
    text-align: center;
    font-family: Sora;
    font-size: clamp(36px, 6vw, 74px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.title{
    color: var(--detail-color);
    text-align: center;
    font-family: Sora;
    font-size: clamp(24px, 4vw, 46px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-btns{
    display: flex;
    padding: 16.12px 14.969px;
    justify-content: center;
    align-items: center;
    gap: 24.18px;
}

.resume-btn,
.contact-btn{
    position: relative;
    overflow: hidden;  
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: clamp(180px, 40vw, 220px);
    height: 73.692px;
    border-radius: 57.572px;
    background: var(--sub-color);
    box-shadow: 10.363px 12.666px 0 0 var(--detail-color);
    color: var(--detail-color);
    text-align: center;
    font-family: Sora;
    font-size: clamp(16px, 2vw, 28px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.resume-btn::before,
.contact-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--primary-color);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;

    z-index: -1;
}

.resume-btn:hover::before,
.contact-btn:hover::before {
    border-radius: inherit;
    transform: scaleX(1);
}

.resume-btn:hover,
.contact-btn:hover {
    color: white;
}

.social-btns{
    display: flex;
padding: 12.666px 19.574px;
justify-content: center;
align-items: center;
gap: 25.332px;
}

.linkedin-btn{
    width: 55.269px;
height: 55.269px;
}

.linkedin-btn,
.github-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.2s ease;
}

.linkedin-btn img,
.github-btn img {
    transition: transform 0.2s ease;    
}
.linkedin-btn:hover,
.github-btn:hover {
    transform: translateY(-6px);
}

.linkedin-btn:hover img,
.github-btn:hover img {
    transform: scale(1.1);
}

@media (max-width: 900px){

    .hero{
        flex-direction: column;
        text-align: center;
        transform: translateY(0);
    }
    
    .hero-text{
        padding: 20px;
    }
    
    .hero-btns{
        flex-direction: column;
    }
    
    .wrapper{
        padding: 15px;
    }
    
    }

@media (max-width: 600px){

    .linkedin-btn img,
    .github-btn img{
        width: 32px;
    }
    
    }

