.about-section{
    display: flex;
    min-height: 100vh;
    padding: 28px 32px;
    flex-direction: column;
    align-self: stretch;
}
.abt-wrapper{
    display: flex;
    padding: 57px 16.963px;
    flex-direction: column;
    align-items: center;
    gap: 9.424px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 43.35px;
    border: 6.597px solid var(--detail-color);
    background: var(--accent-color);
}
.about-title{
    display: flex;
    max-width: 462px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.abt-me-title{
    max-width: 462px;
    color: var(--detail-color);
    text-align: center;
    font-family: Sora;
    font-size: clamp(36px,6vw,74px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.about-hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: clamp(24px,5vw,40px);

}

.about-hero img{
    width:100%;
    max-width:400px;
    height:auto;
}

.about-hero-text{
    display: flex;
max-width: 736px;
padding: 27.635px 39.149px;
flex-direction: column;
gap: 16px;

}

.location{
    align-self: stretch;
    color: var(--detail-color);
font-family: Sora;
font-size: clamp(18px,2vw,28px);
font-style: normal;
font-weight: 600;
line-height: normal;
}

.abt-text{
color: var(--Detail-Color, #3B3A34);
font-family: Sora;
font-size: clamp(16px,1.8vw,30px);
font-style: normal;
font-weight: 600;
line-height: normal;
}

@media (max-width: 768px){

    .about-hero{
        flex-direction: column;
        text-align: center;
    }
    
    .about-hero-text{
        padding: 20px;
    }
    
    .abt-wrapper{
        padding: 30px 15px;
    }
    
    }
