.nav-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 0 47px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 37px;
    background: var(--Sub-section-Color, #F5E8AA);
}

.logo{
    display: flex;
    padding: 16.963px 0 0 10.366px;
    justify-content: flex-end;
    align-items: center;
}


.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
    margin-left: auto;
}
.logo-name{
    margin: 0;
}

.logo-name{
    color: var(--Detail-Color, #3B3A34);
    font-family: Borel;
    font-size: clamp(20px, 3vw, 35px);
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-item {
    position: relative;
    color: var(--detail-color);
    font-family: Sora;
    font-size: clamp(16px, 2vw, 22px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.menu-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; 
  
    width: 100%;
    height: 3px;
    background-color: var(--detail-color);
  
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  .menu-item:hover::after {
    transform: scaleX(1);
  }

  .hamburger{
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 768px){

    .hamburger{
        display: block;
        margin-left: auto; 
    }

    .nav-wrapper{
        padding: 10px 20px;
    }

    .menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        text-align: center;

        max-height: 0;

        opacity: 0;
        transform: translateY(-10px);

        transition: 
            max-height 0.35s ease,
            opacity 0.25s ease,
            transform 0.25s ease;
    }
    
    .nav-wrapper:hover .menu{
        max-height: 200px;
        opacity: 1;
        transform: translateY(0);
}
    
    }